footer {
    font-size: $szFooter;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0px;
    margin-right: 0px;
    left: 0px;
    margin-left: 0px;
    background-color: $backgroundDark-color;
    .masque::before,
    .masque::after {
        content: '';
        position: absolute;
        top: -2px;
        left: 0;
        background: linear-gradient(45deg, #979def, #6770e6, #464dae, #0e124a, #705cb8, #8f96f6, #0d1032, #110471, #525799);
        width: 100%;
        height: 100%;
        transform: scale(1.02);
        z-index: -1;
        background-size: 500%;
        animation: animate 40s infinite;
    }
    .masque::after {
        filter: blur(20px);
    }
    @keyframes animate {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 300% 0;
        }
        100% {
            background-position: 0 0;
        }
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    .linkedin {
        margin-right: 2rem;
    }
    .trigger {
        margin-left: 2rem;
    }
    .linkedin,
    .trigger {
        align-items: center;
        display: flex;
        z-index: 1;
    }
}