footer {
    font-size: 3.439vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0px;
    margin-right: 0px;
    left: 0px;
    margin-left: 0px;
    background-color: $backgroundDark-color;
    box-shadow: 1px 5px 30px 1px $thirdColor;
    border-top: $thirdColor 1px solid;
    a {
        text-decoration: none;
        color: inherit;
    }
    .linkedin {
        margin-right: 2rem;
    }
    .trigger {
        margin-left: 2rem;
    }
    .linkedin,
    .copyright,
    .trigger {
        z-index: 1;
    }
}