nav {
    position: fixed;
    left: 0px;
    ul {
        font-size: 2.375rem;
        list-style: none;
        transform: translateX(-100%);
        transition: all 1.5s ease 0s;
        li {
            margin-bottom: 2rem;
            width: 12rem;
            height: 3rem;
            width: 100%;
            transition: all 1s ease 0s;
            span {
                background-color: $thirdColor;
                padding-left: 1rem;
                padding-right: 1rem;
                /* transform: translateX(-200px);
            position: fixed;
            &:hover {
                transform: translateX(0px);
            } */
            }
        }
        li:before {
            content: "｜";
            color: $thirdColor;
            transform: translateY(-3px);
            display: inline-block;
        }
    }
}