@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
@media (max-width: 640px) {
  * {
    box-sizing: border-box;
  }

  /* passer body (et tous les éléments de largeur fixe) en largeur automatique */
  body {
    width: auto;
    padding: 0;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  /* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */
  img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
iframe,
object,
embed,
video {
    max-width: 100%;
  }

  /* conserver le ratio des images */
  img {
    height: auto;
  }

  /* gestion des mots longs */
  textarea,
table,
td,
th,
code,
pre,
samp {
    -webkit-hyphens: auto;
    /* césure propre */
    -moz-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    /* passage à la ligne forcé */
  }

  code,
pre,
samp {
    white-space: pre-wrap;
    /* passage à la ligne spécifique pour les éléments à châsse fixe */
  }

  /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */
  .element1,
.element2 {
    float: none;
    width: auto;
  }

  /* masquer les éléments superflus */
  .hide_mobile {
    display: none !important;
  }

  /* Un message personnalisé */
  body:before {
    content: "Version mobile du site";
    display: block;
    text-align: center;
    font-style: italic;
    color: #777;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

body {
  font-size: 20;
  color: #F1E3E4;
  font-family: "Abril Fatface", cursive;
}

nav {
  position: fixed;
  left: 0px;
  height: 0px;
}
nav ul {
  font-size: 2.375rem;
  list-style: none;
  transform: translateX(-100%) translateY(-20%);
  transition: all 1.5s ease 0s;
  padding-left: 0px;
}
nav ul li {
  margin-bottom: 2rem;
  width: 12rem;
  height: 3rem;
  width: 100%;
  transition: all 1s ease 0s;
}
nav ul li span {
  background-color: #979def;
  padding-left: 1rem;
  padding-right: 1rem;
}
nav ul li span a {
  text-decoration: none;
  color: inherit;
}
nav ul li:before {
  content: "｜";
  color: #979def;
  transform: translateY(-3px);
  display: inline-block;
}

#container {
  margin: 0%;
}

#circle {
  width: 100%;
  overflow: hidden;
  animation: popup 5s ease-in-out infinite;
  transform-origin: center;
  padding-right: 5rem;
  transition: all 0.5s ease 0s;
}

#circle svg {
  width: 100%;
  left: 0;
  top: 0;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes popup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0px;
  margin-right: 0px;
  left: 0px;
  margin-left: 0px;
  background-color: #1C1D21;
  box-shadow: 1px 5px 30px 1px #979def;
  border-top: #979def 1px solid;
}
footer :nth-child(1) {
  margin-left: 2rem;
}
footer :nth-child(3) {
  margin-right: 2rem;
}

.index {
  background-color: #1C1D21;
}

.flexMain {
  display: flex;
  flex-direction: column;
}
.flexMain .nom {
  align-self: flex-end;
  text-align: right;
  font-family: "Fascinate", cursive;
}
.flexMain .nom .tom1 {
  position: relative;
  margin: 0 auto;
  text-align: end;
  font-size: 2rem;
  margin-top: 2rem;
}
.flexMain .nom .tom1 .tom2 {
  top: 0;
  width: 100%;
  position: absolute;
  font-size: 2rem;
  color: #979def;
  left: -5px;
  text-align: end;
}
.flexMain .nom h1 {
  margin-top: 0px;
}
.flexMain .desc {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  line-height: 32px;
  font-size: 1.5rem;
  line-height: 175%;
}
.flexMain .desc :nth-child(2) {
  text-align: end;
}

@keyframes AnimNom1 {
  from {
    color: #F1E3E4;
  }
  to {
    color: #979def;
  }
}
html,
body {
  height: 100%;
}
html section,
body section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.more {
  background-color: #1C1D21;
}
.more main {
  height: 100%;
  font-size: 1.5rem;
  line-height: 175%;
}
.more main .glitch {
  word-break: break-all;
}
.more main .glitch + p {
  border-top: 5px #979def solid;
  border-left: 5px #979def solid;
  padding-left: 1rem;
  box-shadow: inset 5px 5px 5px #979def;
}
.more main .cv {
  text-decoration: line-through;
  color: inherit;
}
.more main .spotify {
  display: flex;
  justify-content: space-around;
}
.more main .spotify svg {
  height: 100%;
  width: 50px;
}
.more main .spotify svg path {
  fill: #979def;
}
.more main .spotify iframe {
  border-radius: 20px;
}

/*# sourceMappingURL=style.css.map */
