nav {
    position: absolute;
    top: 20%;
    ul {
        font-size: 2.375rem;
        list-style: none;
        li {
            margin-bottom: 2rem;
            width: 12rem;
            height: 3rem;
            width: 100%;
            span {
                background-color: $thirdColor;
                padding-left: 1rem;
                padding-right: 1rem;
                /* transform: translateX(-200px);
            position: fixed;
            &:hover {
                transform: translateX(0px);
            } */
            }
        }
        li:before {
            content: "｜";
            color: $thirdColor;
            transform: translateY(-3px);
            display: inline-block;
        }
    }
}