@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
body {
    color: $textLight-color;
    font-family: 'Abril Fatface', cursive;
    h1,
    h2 {
        font-family: 'Fascinate', cursive;
        font-size: 4.644vw;
    }
}