.cv {
    .bar1,
    .bar2,
    .bar3 {
        background-color: $textDark-color;
    }
    #circle {
        .textPath {
            fill: $textBlack-color;
        }
    }
    iframe {
        margin-top: 2rem;
        margin-bottom: 4rem;
        height: 100vh;
    }
}