.more {
    section {
        height: 80vh;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding-top: 5rem;
    }
    .bar1,
    .bar2,
    .bar3 {
        background-color: $textDark-color;
    }
    background-color: $backgroundDark-color;
    main {
        font-size: 1.5rem;
        line-height: 175%;
        margin-right: 2rem;
        margin-left: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        .glitch {
            margin-top: 2rem;
            +p {
                border-top-left-radius: 5px;
                border-top: 3px $thirdColor solid;
                border-left: 3px $thirdColor solid;
                padding-left: 1rem;
                box-shadow: inset 5px 5px 5px $thirdColor;
            }
        }
        .cv {
            text-decoration: line-through;
            color: inherit;
        }
    }
}

.spotify {
    @include media(">phone", "<=desktop") {
        display: none;
    }
    z-index: 2;
}