.projets {
    background-color: $backgroundLight-color;
    h1 {
        color: $textDark-color;
        text-align: center;
    }
    .projet {
        margin-top: 5rem;
        .parallax {
            margin-bottom: 6rem;
        }
        .projet1,
        .projet2 {
            position: relative;
            img {
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                max-width: 100%;
            }
            .border {
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                background-color: $backgroundDark-color;
                width: 100%;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                h2 {
                    color: $textLight-color;
                }
            }
            @include media(">phone") {
                .para {
                    content: "";
                    background: $backgroundDark-color;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: -5%;
                    left: -5%;
                    z-index: -1;
                    border-radius: 15px;
                }
            }
        }
    }
    .bar1,
    .bar2,
    .bar3 {
        background-color: $textDark-color;
    }
    #circle {
        .textPath {
            fill: $textDark-color;
        }
    }
}

@include media(">phone") {
    .projets .parallax:nth-child(2n) .para {
        left: 5%;
    }
}