$backgroundDark-color:#1C1D21;
$backgroundLight-color:#F1E3E4;
$textDark-color:#979def;
$textLight-color:#F1E3E4;
$textBlack-color:#1C1D21;
$thirdColor: #979def;
$szTitre:1.75rem;
$szSection :1.25rem;
$szFooter: 0.8rem;
$szTitreD:6rem;
$szSectionD :2rem;
$szFooterD: 0.8rem;